.optionsListMain{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.optionsListChildren{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}